<h1 class="centrado">Bienvenido a Shopeame</h1>
<p class="titulo">Titulo</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur unde, magni 
    repellendus voluptatem odit facilis culpa soluta atque ut pariatur! Sapiente non aut
    ea nobis ullam fugiat tempora excepturi. Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Eum aspernatur dolores voluptatibus obcaecati dolor placeat dolorem quo adipisci,
    amet exercitationem impedit, mollitia minima ut veritatis modi, harum unde quam? Ducimus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur unde, magni 
    repellendus voluptatem odit facilis culpa soluta atque ut pariatur! Sapiente non aut
    ea nobis ullam fugiat tempora excepturi. Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Eum aspernatur dolores voluptatibus obcaecati dolor placeat dolorem quo adipisci,
    amet exercitationem impedit, mollitia minima ut veritatis modi, harum unde quam? Ducimus.
</p>
<p class="titulo">Titulo</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur unde, magni 
    repellendus voluptatem odit facilis culpa soluta atque ut pariatur! Sapiente non aut
    ea nobis ullam fugiat tempora excepturi. Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Eum aspernatur dolores voluptatibus obcaecati dolor placeat dolorem quo adipisci,
    amet exercitationem impedit, mollitia minima ut veritatis modi, harum unde quam? Ducimus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur unde, magni 
    repellendus voluptatem odit facilis culpa soluta atque ut pariatur! Sapiente non aut
    ea nobis ullam fugiat tempora excepturi. Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Eum aspernatur dolores voluptatibus obcaecati dolor placeat dolorem quo adipisci,
    amet exercitationem impedit, mollitia minima ut veritatis modi, harum unde quam? Ducimus.
</p>
<p class="titulo">Titulo</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur unde, magni 
    repellendus voluptatem odit facilis culpa soluta atque ut pariatur! Sapiente non aut
    ea nobis ullam fugiat tempora excepturi. Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Eum aspernatur dolores voluptatibus obcaecati dolor placeat dolorem quo adipisci,
    amet exercitationem impedit, mollitia minima ut veritatis modi, harum unde quam? Ducimus.
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi aspernatur unde, magni 
    repellendus voluptatem odit facilis culpa soluta atque ut pariatur! Sapiente non aut
    ea nobis ullam fugiat tempora excepturi. Lorem ipsum, dolor sit amet consectetur
    adipisicing elit. Eum aspernatur dolores voluptatibus obcaecati dolor placeat dolorem quo adipisci,
    amet exercitationem impedit, mollitia minima ut veritatis modi, harum unde quam? Ducimus.
</p>